body{
    margin: 25%;
    padding: 10px;
    text-align: justify;
    text-justify: inter-word;
    
}
hr{
    border-style: solid;
}
p{
    text-align: justify;
    text-indent: 40px;
}
h1{
    text-align: center;
}
table{
    font-family: arial,sans-serif;
    border-collapse: collapse;
    width: 80%;
}
td,th{
    border: 1px solid;
    text-align: center;
    padding: 5px;
}
th:nth-child(even){
    background-color: white;
    
}
